coverage
dash
dash_bootstrap_components
dash_daq
dash-extensions
helpsk
jupyter-contrib-nbextensions
llm-workflow
notebook
numpy
pandas
plotly
plotly-express
pytest
python-dateutil
python-dotenv
PyYAML
ruff
